#Temp
*~
*#

#Inactive
*.off
*.out

#Compiled - Build - Object
*.o
*.d
*.a
*.pch
*gc*
perf.*
binary
unit_tests
default.profraw
*.zip

#Folder
.idea
.vscode
.obsidian
perso

#CMake
cmake-build-debug
CMakeLists.txt